body
{
    background-color: black;
    margin: 0;
    padding: 0;
}

.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container
{
    background-color: white;
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 1em;
}

.Img
{
    display: none;
}

#I2F
{
    height:30px;
    width:30px;
}

.active
{
    display: block;
}